.admin-section
{
	margin-top: 75px;
}

.success
{
	color: green;
}

.error
{
	color: red;
}

.add-line-admin
{
	font-size: 20px;
	float: right;
}

.add-line-admin:hover
{
	text-decoration: none;
	opacity: 0.7;
}

.admin-liste-order
{
	font-size: 15px;
	margin-left: 2em;
}

.admin-liste-order a
{
	margin-right: 0.2em;
}

.admin-liste-order a:hover
{
	opacity: 0.7;
}

.show-table-table th
{
	white-space: nowrap;
}

.show-table-table tr th:last-child,
.show-table-table tr td:last-child
{
	text-align: right;
}

.section-title
{
	margin: 20px 0 40px 0;
}

.confirm-delete-text
{
	font-size: 22px;
	margin: 0px 0 50px 0;
	text-align: center;
}
